<div
  class="tab-pane fade show active"
  id="pills-login"
  role="tabpanel"
  aria-labelledby="tab-login"
>
  <form method="post" action="{% url 'accounts:login_view'%}">
    {% csrf_token %}
    <!-- Email input -->
    <div data-mdb-input-init class="form-outline mb-4">
      <input name="loginName" type="text" id="loginName" class="form-control" />
      <label class="form-label" for="loginName">Email or username</label>
    </div>

    <!-- Password input -->
    <div data-mdb-input-init class="form-outline mb-4">
      <input
        name="loginPassword"
        type="password"
        id="loginPassword"
        class="form-control"
      />
      <label class="form-label" for="loginPassword">Password</label>
    </div>
    <!-- Submit button -->
    <button
      type="submit"
      class="btn btn-primary btn-block mb-4"
    >
      Login
    </button>
  </form>
</div>
