<div
class="tab-pane fade"
id="pills-register"
role="tabpanel"
aria-labelledby="tab-register"
>
<form method="post" action="{% url 'accounts:signup_view'%}">
  {% csrf_token %}
  <!-- Name input -->
  <div data-mdb-input-init class="form-outline mb-4">
    <input type="text" name="name" id="registerName" class="form-control" />
    <label class="form-label" for="registerName">Name</label>
  </div>

  <!-- Email input -->
  <div data-mdb-input-init class="form-outline mb-4">
    <input
      type="email"
      name="email"
      id="registerEmail"
      class="form-control"
    />
    <label class="form-label" for="registerEmail">Email</label>
  </div>
 <!-- username input -->
 <div data-mdb-input-init class="form-outline mb-4">
  <input type="text" name="username" id="registerName" class="form-control" />
  <label class="form-label" for="registerName">userame</label>
</div>
  <!-- Password input -->
  <div data-mdb-input-init class="form-outline mb-4">
    <input
      type="password"
      name="password1"
      id="registerPassword"
      class="form-control"
    />
    <label class="form-label" for="registerPassword"
      >Password</label
    >
  </div>

  <!-- Repeat Password input -->
  <div data-mdb-input-init class="form-outline mb-4">
    <input
      type="password"
      name="password2"

      id="registerRepeatPassword"
      class="form-control"
    />
    <label class="form-label" for="registerRepeatPassword"
      >Repeat password</label
    >
  </div>

  <!-- Submit button -->
  <button
    type="submit"
  
    class="btn btn-primary btn-block mb-3"
  >
    Sign Up
  </button>
</form>
</div>