<div
class="tab-pane fade show active"
id="room-pills-1"
role="tabpanel"
aria-labelledby="room-tab-1"
>
<div class="card shadow-2-strong p-3 m-2">
  <ul class="list-group list-group-light">
    
    <li class="list-group-item">
     <span class="badge badge-primary">Admin</span>
      {{room.admin.name}}
    </li>
    {% for member in members %}
   
    {% if member != room.admin %} <li class="list-group-item">
      {{member.name}}
    </li>
      {% endif %}
     
    {% endfor %}
      
   
 
  </ul>
</div>
</div>